@keyframes scale-up {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
}

@keyframes pull-up {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
  }
}

@keyframes pull-right {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale(0.75) translateX(-10px) translateY(-50%);
  }
}