//////////////////////////////////
// POSITIONING
//////////////////////////////////

@mixin pseudo {
  display: block;
  content: "";
}

@mixin absolute-expand {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin absolute-vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin absolute-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

//////////////////////////////////
// TYPOGRAPHY
//////////////////////////////////

@mixin body-text {
  font-family: $body-font;
  font-weight: $body-weight;
  letter-spacing: 0.0125em;
}

@mixin title-text {
  font-family: $title-font;
  font-size: $font-size-xl * 0.75;
  font-weight: $title-weight;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.25;
  text-shadow: 0 2px 2rem $black;

  @media (min-width: 600px) {
    font-size: $font-size-xl;
  }
}

@mixin subhead-text {
  font-family: $subhead-font;
  font-weight: $subhead-weight;
  text-transform: initial;
  letter-spacing: 0.0125em;
  line-height: 1.5;
  color: $khaki;
  text-shadow: 0 2px 2rem $black;
}

@mixin heading-text {
  font-weight: $bold-weight;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: $sp-md;
}

@mixin font-xl {
  font-size: $font-size-xl;
  line-height: 1.25em;
}
@mixin font-lg {
  font-size: $font-size-lg;
  line-height: 1.25em;
}
@mixin font-md {
  font-size: $font-size-md;
  line-height: 1.25em;
}
@mixin font-sm {
  font-size: $font-size-sm;
  line-height: 1em;
}
@mixin font-xs {
  font-size: $font-size-xs;
  line-height: 1.5em;
}

//////////////////////////////////
// EFFECTS
//////////////////////////////////

@mixin box-shadow {
  box-shadow: 0 1px 12px $shadow;
}

@mixin fancy-outline(
  $offset: 1px,
  $color: $persian,
  $radius: $radius-lg
) {
  @include pseudo;
  position: absolute;
  top: -$offset;
  right: -$offset;
  bottom: -$offset;
  left: -$offset; // behind border
  width: calc(100% + #{$offset * 2});
  height: calc(100% + #{$offset * 2});
  background-image: $color;
  border-radius: $radius;
  z-index: -1;
  opacity: 0;
  transition: all 0.2s ease-out;
  transition-property: opacity, box-shadow, border-color;
}
