//////////////////////////////////
// ACCESSIBILITY
//////////////////////////////////

.u-visually-hidden {
  @include visually-hidden;
}
.u-visually-hidden-sm {
  @media (max-width: 499px) {
    @include visually-hidden;
  }
}

//////////////////////////////////
// TYPOGRAPHY
//////////////////////////////////

.u-title {
  @include title-text;
  padding-bottom: $sp-xs;
}

.u-heading {
  @include heading-text;
}
.u-subhead {
  @include subhead-text;
}

.u-font-xl {
  @include font-xl;
}
.u-font-lg {
  @include font-lg;
}
.u-font-md {
  @include font-md;
}
.u-font-sm {
  @include font-sm;
}
.u-font-xs {
  @include font-xs;
}

.u-text-c {
  text-align: center;
}
.u-text-l-c {
  @media (min-width: 666px) {
    text-align: center;
  }
}

//////////////////////////////////
// COLORS
//////////////////////////////////

//////////////////////////////////
// SPACING
//////////////////////////////////

.u-mb-0 {
  margin-bottom: 0;
}
.u-mb-xs {
  margin-bottom: $sp-xs;
}
.u-mb-xxs {
  margin-bottom: $sp-xxs;
}
.u-mb-sm {
  margin-bottom: $sp-sm;
}
.u-mb-md {
  margin-bottom: $sp-md;
}
.u-mb-lg {
  margin-bottom: $sp-lg;
}
.u-mb-xl {
  margin-bottom: $sp-xl;
}
.u-mb-xxl {
  margin-bottom: $sp-xxl;
}

.u-mr-0 {
  margin-right: 0;
}
.u-mr-xxs {
  margin-right: $sp-xxs;
}
.u-mr-xs {
  margin-right: $sp-xs;
}
.u-mr-sm {
  margin-right: $sp-sm;
}
.u-mr-md {
  margin-right: $sp-md;
}
.u-mr-lg {
  margin-right: $sp-lg;
}
.u-mr-xl {
  margin-right: $sp-xl;
}

.u-m-auto {
  margin: auto;
}
.u-mt-auto {
  margin-top: auto;
}
.u-mr-auto {
  margin-right: auto;
}
.u-mb-auto {
  margin-bottom: auto;
}
.u-mh-auto {
  margin-left: auto;
  margin-right: auto;
}
.u-mv-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.u-p-sm {
  padding: $sp-sm;
}
.u-pb-xl {
  padding-bottom: $sp-xl;
}

.u-block {
  display: block;
}
