//////////////////////////////////
// TYPOGRAPHY
//////////////////////////////////

$body-font: "Arsenal", optima, sans-serif;
$title-font: $body-font;
$subhead-font: $body-font;

$body-weight: 400;
$bold-weight: 700;
$title-weight: 700;
$subhead-weight: 700;

$font-size-xl: 3.3rem; // 66px
$font-size-lg: 1.7rem; // 34px
$font-size-md: 1.4rem; // 28px
$font-size-sm: 1.1rem; // 22px
$font-size-xs: 0.8rem; // 16px

//////////////////////////////////
// COLORS
//////////////////////////////////

$white: #efeff0;
$khaki: #b5a398;
$persian: #df854b;
$persian-light: #f0b189;
$terra-cotta: #993f04;
$tobacco: #403236;
$black: #000000;

$shadow: rgba($black, 0.25);

//////////////////////////////////
// MISC MEASUREMENTS
//////////////////////////////////

$sp-xxs: 0.25rem;
$sp-xs: 0.5rem;
$sp-sm: 0.75rem;
$sp-md: 1rem;
$sp-lg: 1.5rem;
$sp-xl: 2rem;
$sp-xxl: 3.75rem;

$radius-sm: 2px;
$radius-md: 4px;
$radius-lg: 6px;

$navbar-height: 4rem;
$navbar-link-padding: $sp-xs;
