.album-section-img {
  margin: $sp-lg auto;
  box-shadow: 0 4px 18px 0 rgba($black, 0.28),
    0 2px 47px 0 rgba($black, 0.31);

  @media (min-width: 666px) {
    max-width: 40%;
    margin: 0 $sp-xxl 0 0;
  }
}

.album-section-bg {
  @include absolute-expand;
  object-fit: cover;
  object-position: bottom;
  z-index: -1;
}

.album-section {
  @media (min-width: 666px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
  }
}

.album-section-caption .u-subhead {
  top: -$sp-xxs;
}
