.footer {
  margin-top: 0;
  padding-top: $sp-xxl;
  padding-bottom: 2.5rem;

  @media (min-width: 600px) {
    padding-top: 40%;
  }
}
.footer-bg {
  @include absolute-expand;
  object-fit: contain;
  object-position: 50% 15%;
  z-index: -1;
}

.footer-social-list {
  display: flex;
  justify-content: center;

  .social-item:not(:last-child) {
    margin-right: $sp-md;
  }
}

.footer-menu-item {
  display: inline-block;
}
.footer-menu-link {
  display: block;
  padding: 1em;
  color: $khaki;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $white;
  }

  &[aria-current] {
    color: $persian;
    text-decoration: underline;
  }
}

.footer-logo {
  padding: $sp-sm;

  @media (min-width: 800px) {
    top: -$sp-xxl;
  }

  @media (min-width: 1200px) {
    top: -1.75rem;
  }
}

.footer-row {
  @media (min-width: 800px) {
    display: flex;
    align-items: baseline;

    .footer-email,
    .footer-socials {
      width: calc(50% - #{$sp-xxl});
    }
    .footer-socials {
      margin-left: auto;
    }

    .footer-logo {
      @include absolute-horizontal-center;
    }
  }
}
