.hero-section {
  overflow: hidden;

  .padded-section {
    padding-top: 0;
  }

  .hero-title {
    margin: auto auto 0 auto;
    text-align: center;
  }
}

.hero-title {
  max-width: 100%;
}
.hero-subhead {
  display: block;
  margin-top: $sp-md;
}
.hero-img {
  width: 100%;
  pointer-events: none;

  &:empty,
  & > * {
    height: 100%;
    object-fit: cover;
  }
}

.hero-social-list {
  display: flex;
  justify-content: center;

  .social-item:not(:last-of-type) {
    margin-right: $sp-md;
  }
}
