.hero-section {
  overflow: hidden;

  .padded-section {
    padding-top: 0;
  }

  .hero-title {
    margin: auto auto 0 auto;
    text-align: center;
  }
}

.hero-title {
  max-width: 100%;
}
.hero-subhead {
  display: block;
  margin-top: $sp-md;
}
.hero-img {
  pointer-events: none;
  width: 100%;

  @media (min-width: 1200px) {
    max-width: calc(100% - #{$sp-xxl * 2});
    margin-left: auto;
    margin-right: auto;
  }

  &:empty,
  & > * {
    min-height: 33.25vw;
    object-fit: cover;

    @media (min-width: 1200px) {
      min-height: calc(35vw - $sp-xxl);
    }
  }
}
.home-hero-section .hero-img:empty,
.home-hero-section .hero-img > * {
  min-height: 44.5vw;

  @media (min-width: 1200px) {
    min-height: calc(44.5vw - $sp-xxl);
  }
}

.hero-social-list {
  display: flex;
  justify-content: center;

  .social-item:not(:last-of-type) {
    margin-right: $sp-md;
  }
}

.about-hero-section .padded-section {
  margin-bottom: $sp-xs;
  padding-bottom: 0;
}
