.press-section {
  padding-top: $sp-xl;
  z-index: 1;
}

.press-item {
}

.press-title {
  transition: color 0.2s ease-out;
}

.press-link {
  position: static;
  order: 1;

  &:before {
    @include pseudo;
    @include absolute-expand;
    z-index: 1;
  }

  &:hover ~ .press-title,
  &:focus ~ .press-title {
    color: $persian-light;
  }
}
