.press-section {
  @include section-gradient;
  padding-top: $sp-xl;
  z-index: 1;
}

.press-list {
  margin-bottom: -4px;

  @media (min-width: 666px) {
    column-width: 26rem;
    column-gap: 4px;
  }
  @media (min-width: 1920px) {
    column-width: auto;
    columns: 3;
  }
}

.press-item {
  @include tile-gradient;
  display: flex;
  flex-direction: column;
  padding: $sp-lg;
  margin-bottom: 4px;
  min-height: 11rem;
}

.press-title {
  transition: color 0.2s ease-out;
}

.press-link {
  position: static;
  order: 1;
  margin-top: $sp-sm;

  &:before {
    @include pseudo;
    @include absolute-expand;
    z-index: 1;
  }

  &:hover ~ .press-title,
  &:focus ~ .press-title {
    color: $persian-light;
  }
}
