.quote-tile {
  display: block;
  break-inside: avoid;
  padding: $sp-md $sp-lg $sp-lg $sp-lg;
  margin-bottom: 4px;
  box-shadow: 0 2px 47px 0 rgba($black, 0.31);

  // Safari hack to get quotes vertically aligned
  @media not all and (min-resolution: 0.001dpcm) {
    margin-bottom: 0;
    border-bottom: 4px solid $black;
  }
}

.quote-text {
  color: $white;
  line-height: 1.5;

  &:before {
    content: "“";
    position: absolute;
    left: -0.375em;
    color: $khaki;
  }
  &:after {
    content: "”";
    color: $khaki;
  }
}

.quote-author {
  text-align: right;
  color: $persian;
}
