.show-tile {
  flex: 1 0 200px;
  padding-top: 15%;
  min-height: 10rem;
  margin: 2px;
  overflow: hidden;
}

.show-link,
.show-link > span {
  display: block;
  z-index: 1;
}

.show-link > span {
  transition: 0.2s ease-out color;
}

.show-link {
  @include absolute-expand;
  padding: $sp-md;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;

  &[href]:hover,
  &[href]:focus {
    & > .show-venue,
    & > .show-city {
      color: $persian-light;
    }
    & + .show-img {
      opacity: 1;
      transform: scale(1.075);
    }
  }
}

.show-venue {
  color: $khaki;
}

.show-city {
  color: $persian;
}

.show-img {
  @include absolute-expand;
  object-fit: cover;
  opacity: 0.75;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}
