.text-section {
  padding-top: 0;
}

.text-section-inner {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

.text-section-inner > *:not([class*="u-font-"]) {
  font-size: inherit;
  line-height: 1.5;

  &:not(:last-child) {
    margin-bottom: 1em;
  }
}
