.social-link {
  @include font-sm;
  @include subhead-text;
  text-decoration: none;
  border-radius: 2em;
  padding: 0.1em 1em 0.1em 0.1em;
  margin-left: -0.125em;
  min-height: 2em;
  color: $black;
  background-color: $persian;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;

  &.icon-only {
    display: block;
    padding: 0;
    width: 2em;
    height: 2em;
    margin-left: 0;
  }

  &:not(.icon-only) {
    @include font-xs;
    display: inline-block;
    line-height: 2.5em;
    padding-left: 3em;
    margin-bottom: $sp-md;

    svg {
      position: absolute;
      top: 0.3em;
      left: 0.5em;
      transform: scale(1.5);
    }
  }

  svg {
    width: 2em;
    height: 2em;
    transition: transform 0.1s ease-out;

    path {
      fill: currentColor;
    }
  }

  &:hover,
  &:focus {
    color: $white;
    background-color: $persian;

    svg {
      transform: scale(1.125);
    }

    &[href*="music.amazon.com"] {
      background-color: #44b5e7;
    }
    &[href*="music.apple.com"] {
      background-color: #fa243c;
    }
    &[href*="bandcamp.com"] {
      background-color: #408294;
    }
    &[href*="deezer"] {
      background-color: #feaa2d;
    }
    &[href*="facebook.com"] {
      background-color: #0866ff;
    }
    &[href*="iheart.com"] {
      background-color: #c6002b;
    }
    &[href*="instagram.com"] {
      background-color: #e4405f;
    }
    &[href*="pandora.com"] {
      background-color: #224099;
    }
    &[href*="spotify.com"] {
      background-color: #1db954;
    }
    &[href*="tidal.com"] {
      background-color: #000;
    }
    &[href*="twitter.com"] {
      background-color: #1d9bf0;
    }
    &[href*="youtube.com"] {
      background-color: #ff0000;
    }
  }
}
